services:
  benchmarks:
    build: .
    image: benchmarks:latest
    container_name: benchmarks
    volumes:
      - ..:/work
    tty: true
    network_mode: "host"
    depends_on:
      - kafka
      # - kafka-native

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    network_mode: "host"
    ulimits:
      nofile:
        soft: 300000
        hard: 300000
    environment:
      # KRaft / Cluster Identity
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      
      # Performance Tuning
      KAFKA_HEAP_OPTS: "-Xms4g -Xmx4g"
      KAFKA_JVM_PERFORMANCE_OPTS: "-server -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -Djava.awt.headless=true"
      KAFKA_NUM_NETWORK_THREADS: 8
      KAFKA_NUM_IO_THREADS: 8
      KAFKA_MESSAGE_MAX_BYTES: 10485760
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10485760
      KAFKA_LOG_DIRS: "/tmp/kafka-logs"
